<div class="container">
    <div class="crash-bandicoot"></div>
</div>
<h1>ERROR 404: PAGE NOT FOUND</h1>
<p>La web de Rafa no está disponible en este momento, deje su mensaje después de la señal</p>
<h1>ERROR 404: PAGE NOT FOUND</h1>
<p>La web de Rafa no está disponible en este momento, deje su mensaje después de la señal</p>
<h1>ERROR 404: PAGE NOT FOUND</h1>
<p>La web de Rafa no está disponible en este momento, deje su mensaje después de la señal</p>
<h1>ERROR 404: PAGE NOT FOUND</h1>
<p>La web de Rafa no está disponible en este momento, deje su mensaje después de la señal</p>


