<!--

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-link" routerLink="/listado-api-json">BlogJsonApi</span>
    <span class="navbar-brand" routerLink="/listado-escrito">BlogEscrito</span>
    <span class="navbar-brand" routerLink="/listado-clase">BlogClase</span>
    <span class="navbar-brand" routerLink="/listado-noticias">BlogNoticiasApi</span>
    <span class="navbar-brand" routerLink="/nosotres">Acerca de</span>
    <span class="navbar-brand" routerLink="/imagen-local">Imagen</span>
    
  </nav>

-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio">El Blog de Rafa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/inicio">Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nosotres">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listado-escrito">Blog Personal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listado-clase">Blog de Clase </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listado-api-json">Blog JSON API</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blogs de Noticias API</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-bs-toggle="tab" routerLink="/listado-noticias-ciencia">Blog Noticias Ciencia</a>
              <a class="dropdown-item" data-bs-toggle="tab" routerLink="/listado-noticias-deportes">Blog Noticias Deporte </a>
              <a class="dropdown-item" data-bs-toggle="tab" routerLink="/listado-noticias-negocios">Blog Noticias Negocios</a>
              <a class="dropdown-item" data-bs-toggle="tab" routerLink="/listado-noticias-salud">Blog Noticias Salud</a>
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>


  

