<div class="footer-basic bg-primary">
    <footer>
        <div class="social"><a href="https://www.linkedin.com/in/rafael-blanco-aranda-56676960/"><i class="fa-brands fa-linkedin"></i></a><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a><a href="https://github.com/RafaBlanco95/PROYECTOS_SEGUNDO_DAM"><i class="fa-brands fa-github"></i></a><a href="https://es-es.facebook.com/"><i class="fa-brands fa-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item text-light"><a routerLink="/inicio">Inicio</a></li>
            <li class="list-inline-item text-light"><a routerLink="/nosotres">About Me</a></li>
            <li class="list-inline-item text-light"><a routerLink="/juegos">Juegos</a></li>
            <li class="list-inline-item text-light"><a routerLink="/plataformas">Plataformas</a></li>
            <li class="list-inline-item text-light"><a routerLink="/tiendas">Tiendas</a></li>
            <li class="list-inline-item text-light"><a routerLink="/creadores">Desarrolladores</a></li>
        </ul>
      </footer>
      <p class="copyright text-black bg-warning"> <i class="fa-brands fa-angular"></i> WikiGames © 2022 <i class="fa-brands fa-angular"></i></p>