<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Quién Soy?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Antes de nada, buenos días.</strong> Me llamo Rafa y soy un programador un tanto peculiar. He estudiado la carrera de bioquímica y trabajo como técnico de calidad de aceite en una refinería,
           Tras unos años de experiencia laboral, me encuentro algo estancado, y estoy aprendiendo a programar para poder dedicarme a esta materia y así cambiar mis expectativas laborales. Por lo tanto si eres Juanan <code>más te vale aprobarme</code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Datos de Contacto 
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Correo Electrónico:</strong> rafa.blanco.95@gmail.com <br>
          <strong>Teléfono móvil:</strong> 617359353 <br>
          <strong>LinkedIn: </strong> <a href="https://es.linkedin.com/in/rafael-blanco-aranda-56676960?trk=people-guest_people_search-card">Rafael Blanco Aranda</a>


        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Proyectos Asignaturas
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Proyectos de clase del 2º Curso de DAM</strong>
          <p>Durante el curso he realizado proyectos para las asignaturas de Desarrollo de interfaces (Proyecto SwingKids) y para la asignatura Programación Multimedia (Proyecto RafApp).
            Se pueden encontrar en mi repositorio de GitHub: <a href="https://github.com/RafaBlanco95/PROYECTOS_SEGUNDO_DAM.git"> Proyectos Segundo Curso</a>
          </p>
          <img src="assets/zoo.png" alt="SwingKids" height="500vh" width="750wh">
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Proyectos Dual
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Proyectos de la formación dual cursada en NTTDATA </strong>
          <p>Durante el curso he realizado talleres prácticos a lo largo de la formación dual con la empresa NTTDATA. Entre ellos se pueden destacar los talleres prácticos de Apache Maven, Apache Tomcat e HIBERNATE
          Se pueden encontrar en mi repositorio de GitHub: <a href="https://github.com/RafaBlanco95/FORMACION_DUAL_NTTDATA.git"> Proyectos Formación Dual </a>
          </p>
          <img src="assets/nttdata.png" alt="NTTDATA" height="500vh" width="750wh">
        </div>
      </div>
      
    </div>
  </div>

