<div class="container" id="contenedor-top">
  <div class="row border-bottom border-primary justify-content-center text-center">
    <div class="col ">
      <span>
        <h1><b>Noticiario por Secciones </b></h1>
      </span>
    </div>
  </div>
      <div class="container-fluid mt-3">
        <div class="row heading text-dark">
          <span>
            <h2>Internacional</h2>
          </span>
        </div>
        <div class="row">
      
      <div class="col-6">
        <div class="card mb-3">
          <h3 class="card-header">Detenido en Italia un emprendedor que generaba riqueza y puestos de trabajo tras 30 años en búsqueda y captura</h3>
          <div class="card-body">
            <h6 class="card-subtitle text-muted">Un emprendedor italiano que llevaba años generando riqueza y puestos de trabajo ha sido arrestado este lunes en Palermo (Sicilia). El empresario, de 60...</h6>
          </div>
          <img src="/assets/italia.jpeg" class="img-fluid" alt="...">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Internacional - Policía - Emprendimiento</li>
          </ul>
          <div class="card-body">
            <a href="https://www.elmundotoday.com/2023/01/detenido-en-italia-un-emprendedor-que-generaba-riqueza-y-puestos-de-trabajo-tras-30-anos-en-busqueda-y-captura/"
              class="card-link">Saber Más</a>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-3">
          <h3 class="card-header">
            Los 17 argentinos que quedan vivos tras la celebración del Mundial admiten que quizá el país le da demasiada importancia al fútbol</h3>
          <div class="card-body">

            <h6 class="card-subtitle text-muted">Esta mañana, los 17 argentinos que quedan vivos tras la celebración del Mundial han reconocido que quizá el país le da demasiada importancia al...</h6>
          </div>
          <img src="/assets/furbo.jpeg" class="img-fluid" alt="...">

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Internacional - Fúlbol - Devastación</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Saber Más</a>
          </div>

        </div>
      </div>

      <div class="container-fluid">
        <div class="row heading text-dark">
          <span>
            <h2><b>Nacional</b></h2>
          </span>
        </div>
    
        <div class="row">
          
          <div class="col-6">
            <div class="card mb-3">
              <h3 class="card-header">Pedro Sánchez anuncia que los cambios en el horóscopo obligarán a nombrar nuevos
                ministros en caso de incompatibilidades</h3>
              <div class="card-body">
                <h6 class="card-subtitle text-muted">La inesperada destitución del secretario general de Industria, Raúl
                  Blanco, que es aries, por el exsenador socialista por Asturias, Francisco Blanco, que es libra,...</h6>
              </div>
              <img src="/assets/horoscopo.jpg" class="img-fluid" alt="...">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Nacional - Política - Astrología</li>
              </ul>
              <div class="card-body">
                <a href="https://www.elmundotoday.com/2023/01/pedro-sanchez-anuncia-que-los-cambios-en-el-horoscopo-obligaran-a-nombrar-nuevos-ministros-en-caso-de-incompatibilidades/"
                  class="card-link">Saber Más</a>
              </div>
            </div>
          </div>
    
          <div class="col-6">
            <div class="card mb-3">
              <h3 class="card-header">
                El PSOE madrileño intentará ganar las autonómicas presentando a un candidato del PP</h3>
              <div class="card-body">
    
                <h6 class="card-subtitle text-muted">Viendo que las posibilidades con sus propios candidatos son
                  prácticamente nulas, esta mañana el PSOE de Madrid ha anunciado que intentará ganar las elecciones...</h6>
              </div>
              <img src="/assets/psoe.jpeg" class="img-fluid" alt="...">
    
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Nacional - Política - Rivalidades</li>
              </ul>
              <div class="card-body">
                <a href="https://www.elmundotoday.com/2023/01/el-psoe-madrileno-intentara-ganar-las-autonomicas-presentando-a-un-candidato-del-pp/" class="card-link">Saber Más</a>
              </div>
    
            </div>
          </div>

      <div class="container-fluid mt-3">
        <div class="row heading text-dark">
          <span>
            <h2>Sociedad
            </h2>
          </span>
        </div>
        <div class="row">
          
          <div class="col-6">
            <div class="card mb-3">
              <h3 class="card-header">Los propietarios de una freidora de aire solicitan formalmente que tú también te compres una freidora de aire para poder hablar de freidoras de aire</h3>
              <div class="card-body">
                <h6 class="card-subtitle text-muted">Asegurando que no tienen nada en común contigo si no das el paso, los portavoces de la Asociación Española de Usuarios de Freidoras de...</h6>
              </div>
              <img src="/assets/freidora.png" class="img-fluid" alt="...">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Sociedad - Comida - Secta</li>
              </ul>
              <div class="card-body">
                <a href="https://www.elmundotoday.com/2023/01/los-propietarios-de-una-freidora-de-aire-solicitan-formalmente-que-tu-tambien-te-compres-una-freidora-de-aire-para-poder-hablar-de-freidoras-de-aire-todo-el-tiempo/"
                  class="card-link">Saber Más</a>
              </div>
            </div>
          </div>
    
          <div class="col-6">
            <div class="card mb-3">
              <h3 class="card-header">
                Greta Thunberg, todavía transportada por los tres policías, empieza a sospechar que se han perdido</h3>
              <div class="card-body">
    
                <h6 class="card-subtitle text-muted">Una semana después de que la detuvieran, Greta Thunberg, todavía transportada por los tres policías que la desalojaron de una protesta en el pueblo...</h6>
              </div>
              <img src="/assets/policia.png" class="img-fluid" alt="...">
    
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Sociedad - Policía - Medio Ambiente</li>
              </ul>
              <div class="card-body">
                <a href="https://www.elmundotoday.com/2023/01/greta-thunberg-todavia-transportada-por-los-tres-policias-empieza-a-sospechar-que-se-han-perdido/" class="card-link">Saber Más</a>
              </div>
    
            </div>
          </div>
          
      <div class="container-fluid mt-3">
        <div class="row heading text-dark">
          <span>
            <h2>Cultura</h2>
          </span>
        </div>
        <div class="row">
          
          <div class="col-6">
            <div class="card mb-3">
              <h3 class="card-header">El Padrino se reestrenará en España bajo el título Ocho Apellidos Italianos</h3>
              <div class="card-body">
                <h6 class="card-subtitle text-muted">Con la intención de volver a despertar el interés del público, esta semana se ha anunciado que El Padrino, la película dirigida en 1972...</h6>
              </div>
              <img src="/assets/padrino.jpeg" class="img-fluid" alt="...">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cultura - Cine - Folclore</li>
              </ul>
              <div class="card-body">
                <a href="https://www.elmundotoday.com/2023/01/el-padrino-se-reestrenara-en-espana-bajo-el-titulo-ocho-apellidos-italianos/"
                  class="card-link">Saber Más</a>
              </div>
            </div>
          </div>
    
          <div class="col-6">
            <div class="card mb-3">
              <h3 class="card-header">
                «No ser», concluye Hamlet</h3>
              <div class="card-body">
    
                <h6 class="card-subtitle text-muted">Tras 420 años de cavilaciones, Hamlet, el príncipe de Dinamarca, ha llegado a la conclusión de que, entre ser y no ser, "es mejor...</h6>
              </div>
              <img src="/assets/hamlet.png" class="img-fluid" alt="...">
    
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cultura - Teatro - Filosofía</li>
              </ul>
              <div class="card-body">
                <a href="https://www.elmundotoday.com/2023/01/no-ser-concluye-hamlet/" class="card-link">Saber Más</a>
              </div>
    
            </div>
          </div>

      <div class="container-fluid mt-3">
        <div class="row heading text-dark">
          <span>
            <h2>Deportes</h2>
          </span>
        </div>
        <div class="row">
          
          <div class="col-6">
            <div class="card mb-3">
              <h3 class="card-header">La seguridad del Camp Nou deja de mirar al público y empieza a vigilar a los futbolistas</h3>
              <div class="card-body">
                <h6 class="card-subtitle text-muted">Mallorca 1-0 Celta En un alarde de galleguismo, el Celta está haciendo todo lo posible para que el año que viene haya derbi con el...</h6>
              </div>
              <img src="/assets/futbol2.png" class="img-fluid" alt="...">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Deportes - Fútbol - Nacional</li>
              </ul>
              <div class="card-body">
                <a href="https://www.elmundotoday.com/2023/01/la-seguridad-del-camp-nou-deja-de-mirar-al-publico-y-empieza-a-vigilar-a-los-futbolistas/"
                  class="card-link">Saber Más</a>
              </div>
            </div>
          </div>
    
          <div class="col-6">
            <div class="card mb-3">
              <h3 class="card-header">
                Diversas quejas arbitrales hacen que millones de españoles se enteren de que ha vuelto La Liga</h3>
              <div class="card-body">
    
                <h6 class="card-subtitle text-muted">Girona 2-2 Rayo Vallecano Tras este empate del Rayo, la ley de la eutanasia se mantendrá paralizada en el estado de Wisconsin. Betis 0-0 Athletic En este...</h6>
              </div>
              <img src="/assets/futbol3.png" class="img-fluid" alt="...">
    
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Deportes - Fútbol - Nacional</li>
              </ul>
              <div class="card-body">
                <a href="https://www.elmundotoday.com/2023/01/no-ser-concluye-hamlet/" class="card-link">Saber Más</a>
              </div>
    
            </div>
          </div>
        </div>
      </div>
    </div>