<div class="jumbotron mt-5">
    <h2 class="heading">Buscador de Juegos por plataforma y género</h2>
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <form (ngSubmit)="buscarNoticia()">
                <div class="form-group">
                    <h2>Plataformas</h2>
                    <select name="plataformas" [(ngModel)]="plataformaSeleccionada" class="form-control form-control-lg">
                      <option [value]="plataforma.value" *ngFor="let plataforma of plataformas">{{ plataforma.nombre }}</option>
                    </select>
                  </div>
                  <div class="form-group mt-3">
                    <h2>Géneros</h2>
                    <select name="genero" [(ngModel)]="generoSeleccionado"  class="form-control form-control-lg">
                      <option [ngValue]="genero.value" *ngFor="let genero of generos"> {{ genero.nombre }}</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block btn-lg mt-3 mb-5">Buscar</button>
            </form>
        </div>
    </div>
  </div>
  