<div class="container" id="contenedor-top">
  <div class="row  border-bottom border-primary justify-content-center text-center" id="col1">
    <div class="col ">
      <span>
        <h1><b>PORTADA 28/01/2023 </b></h1>
      </span>
    </div>
  </div>
  <div class="row border-top border-bottom border-primary justify-content-center text-center" id="col1">
    <div class="col" id="subtitle">
      <span>
        <h4><b>Top Noticias Hoy</b></h4>
      </span>
    </div>
  </div>
  <div class="row mt-2">
    <span>
      <h2><b>Los físicos teóricos investigarán por qué el último fin de semana ha durado solo 10 minutos</b></h2>
    </span>
  </div>
  <div class="row  justify-content-center text-justify" id="col1">
    <div class="col-4">
      <p>Considerado uno de los fenómenos más inexplicables de los últimos años, miles de físicos teóricos de todo el
        planeta han empezado este mismo lunes a primera hora a investigar por qué el último fin de semana duró tan solo
        diez minutos. «Hace un rato era viernes y un rato después, diez minutos o así, suena el despertador y es lunes
        otra vez, resulta desconcertante y no tenemos respuesta», admite François Englert, físico teórico belga y
        profesor emérito de la Universidad Libre de Bruselas.
        «Considerados dos eventos (el viernes y el lunes) y el intervalo de tiempo entre ambos, vemos que su velocidad
        relativa se acelera por algún motivo y que, pese a lo que dicen nuestros aparatos de medición como relojes y
        calendarios, en realidad ocupan un lapso de diez minutos», explica Englert.
        La duración injustamente mínima de los pasados sábado y domingo ha sido
      </p>
    </div>
    <div class="col-8">

      <img src="/assets/news.jpg" class="img-fluid" alt="...">
    </div>
  </div>
  <div class="row">
    <p>experimentada por millones de personas en todo el planeta, a las que les ha resultado imposible hacer todo lo que tenían pensado hacer el pasado fin de semana. «Es que no me puedo creer que ya sea lunes», ha sido lo primero que han dicho miles de personas esta mañana en las redes sociales, asegurando que el fin de semana ha durado «tan solo unos minutos».
      «¿Es posible que la paletilla de cordero del sábado al mediodía genere un campo gravitatorio que acelere todos los eventos que se sitúan a su alrededor? No descartamos nada ahora mismo», admite Englert, que ya lleva décadas estudiando la duración relativa de los festivos. Dice, sin embargo, que la fugacidad de este pasado fin de semana se escapa a toda comprensión.
      Según explican los físicos teóricos, el «agujero de gusano» de la tarde del domingo también resulta inexplicable para la ciencia, que es incapaz de determinar por qué una siesta de diez minutos en ocasiones se prolonga durante horas, aunque el «viajero temporal» se despierte desorientado, pero creyendo que han transcurrido tan solo unos instantes desde que se sentó en el sofá.
      «Todo parece indicar que hoy es lunes, pero no puede ser… no puede ser que sea lunes, punto», insisten los científicos.</p>
  </div>
</div>






<!--

   
<div class="container" id="alerta">
    <div class="row justify-content-end">
        <div class="col-5 ">
            <div class="alert alert-dismissible alert-primary">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>¡Recuerda!</strong> Si eres un profesor y estás evaluando esta página <a class="alert-link"> no olvides ponerme un 10 </a>.
              </div>
        </div>
    </div>
</div>

-->