

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio"> <i class="fa-solid fa-gamepad"></i> WikiGames </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/inicio">Inicio 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nosotres">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/plataformas">Plataformas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tiendas">Tiendas </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/creadores">Desarrolladores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/juegos">Juegos</a>
          </li>
          <li class="nav-item" *ngIf="miToken==0">
            <a class="nav-link acceso"  routerLink="/login" id="acceso" > <i class="fa-solid fa-user"></i> Inicio de Sesión</a>
          </li>
          <li class="nav-item" *ngIf="miToken!=0" (click)="logout()" (click)="reload_page()" routerLink="/inicio">
            <span class="nav-link acceso"  id="acceso" > <i class="fa-solid fa-right-from-bracket"></i> Usuario: {{nombreUsuario}} </span>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>


  

