<div class="footer-basic bg-primary">
    <footer>
        <div class="social"><a href="https://www.linkedin.com/in/rafael-blanco-aranda-56676960/"><i class="fa-brands fa-linkedin"></i></a><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a><a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a><a href="https://es-es.facebook.com/"><i class="fa-brands fa-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item text-light"><a routerLink="/inicio">Portada</a></li>
            <li class="list-inline-item text-light"><a routerLink="/nosotros">Sobre Nosotros </a></li>
            <li class="list-inline-item text-light"><a routerLink="/noticiasHoy">Noticias Hoy </a></li>
            <li class="list-inline-item text-light"><a routerLink="/buscador">Buscador <i class="fa-solid fa-magnifying-glass"></i></a></li>

        </ul>
      </footer>
      <p class="copyright text-black bg-light"> <i class="fa-brands fa-angular"></i> A Mano Alzada © 2022 <i class="fa-brands fa-angular"></i></p>