<div class="container" id="contenedor-top">
    <div class="row  border-bottom border-primary justify-content-center text-center" id="col1">
        <div class="col ">
            <span>
                <h1><b>A Mano Alzada</b></h1>
            </span>
        </div>
    </div>
    <div class="row border-top border-bottom border-primary justify-content-center text-center" id="col1">
        <div class="col" id="subtitle">
            
            <span>
                <h4>La belleza de lo manuscrito </h4>
            </span>
        </div>
    </div>
    <div class="container">
        <h1 class="heading mt-3 mb-3 text-dark"> Origen</h1>
    </div>
    <div class="row border-top border-bottom border-primary justify-content-center" id="col1">
        <div class="col-4 ">
            <img src="/assets/imprenta.png" class="img-fluid" alt="...">
        </div>
        <div class="col-8">
            Desde la invención de Gutenberg en el año 1450, la impresión de noticiarios y la divulgación de la información ha ido evolucionando hacia la automatización y la masificación.<br/>
            A mano alzada no es una redacción al uso, es el resultado de una asociación entre amigos que disfrutan del arte de comunicar con sus propias manos, y valoran el trabajo minucioso y complejo de la caligrafía.
            <br/>Nuestra empresa, fundada hace más de 100 años, lleva dos generaciones satisfaciendo los gustos de jóvenes y adultos, que crecieron manchándose las manos de tinta con el periódico de los domingos o que simplemente saben valorar una obra de arte caligráfica.

        </div>
    </div>
    <div class="container">
        <h1 class="heading mt-3 mb-3 text-dark"> ¿Qué Hacemos?  </h1>
    </div>
    <div class="row border-top border-bottom border-primary justify-content-center" id="col1">
        <div class="col-8 ">
            En A Mano Alzada nos dedicamos a hacer noticiarios de una manera diferente, nos gusta cuidar el detalle y el trabajo bien hecho.
            <br/>Ofrecemos una oferta limitada de periódicos diarios manuscritos en tinta, con una caligrafía impoluta y una belleza superior, digna de ser expuesta en museos y exposiciones.
            <br/>Ofrecemos un sentimiento de exclusividad a la vez que evocamos esos momentos de la juventud en la que disfrutábamos de un buen desayuno con las manos tiznadas de negro por nuestro periódico favorito.
            <br/>También nos caracteriza nuestra peculiar, honesta y objetiva forma de transmitir la información, sin estar sujetos a ningún yugo. Si pruebas a informarte con nosotros, no te arrepentirás.
        </div>
        <div class="col-4">
            <img src="/assets/hojas.jpeg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="container">
        <h1 class="heading mt-3 mb-3 text-dark"> ¿Quiénes Somos? </h1>
    </div>
    <div class="row border-top border-bottom border-primary justify-content-center mb-5" id="col1">
        <div class="col-4 ">
            <img src="/assets/salon.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col-8">
            Contamos con un extenso equipo de artistas y calígrafos encargados de realizar nuestros noticiarios diariamente, además de un equipo de gestión de la empresa.
            <br/>Entre nuestras filas destacan:
            <br/>
            <ul>
                <li>Rafael Jaime Blanco Aranda - Diseñador Jefe y CEO</li>
                <li>Belén Aranda -  Directora de Marketing</li>
                <li>Manuel Mato - Responsable de Logística</li>
                <li>Juan Antonio Sánchez - Artista Ilustrador</li>
                <li>Paula Martínez - Artista Ilustradora</li>
                <li>Noelia Cardoso - Calígrafa</li>
                <li>Alberto Cobo - Calígrafo</li>
                <li>Juan León - RRPP</li>
                <li>María José Barral - Influencer</li>
            </ul>

        </div>
    </div>
</div>