<div class="card mb-3 " >
    <img [src]="entradaJuego.background_image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ entradaJuego.name }}</h5>
        <span class="badge bg-primary mb-1"> Valoración: {{ entradaJuego.rating }}   <i class="fa-solid fa-star"></i></span>
        <span class="badge bg-primary mb-1"> Nota Metacritic: {{ entradaJuego.metacritic }} </span>
        <p class="card-text"> Lanzamiento: {{ entradaJuego.released }}</p>
        
    </div>
  </div>
